/*
Name: Larrinaga Raphael
URL: http://www.raphael-larrinaga.com
Description: website
Version: 1
Author: Larrinaga Raphael
Author URL: http://www.raphael-larrinaga.com
*/


/* `Eric Meyer's Reset taken from: http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
----------------------------------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

@font-face { font-family: 'gnuolane_rg'; font-weight: bold; src: url('font/gnuolane_rg.tf'); }

/* ---
 MAIN
 --- */

 body {
  font-family: Helvetica, Arial, sans-serif;
  color:#312c32;
  /*background: url(img/bg3.gif) repeat;*/
  /*background-color: #00aeef;*/
}

body.topline {
  background: url(img/top1.gif) repeat-x;
}

#container {
  margin: 0 auto;
  padding: 40px 0 0;
  width: 960px;
}

a {
  text-decoration: none;
  color: #312c32;
}

li {
  list-style: none;
}


/* ----
 HEADER
 ----- */

 #header {
  height: 100px;
  /*margin: 0px 20px 20px;*/
}

h1 {
  overflow: hidden;
}

h1 a {
  display: block;
  text-indent: -1000px;
  background: url(img/logo9.png) no-repeat left;
  height: 70px;
  width: 126px;
}
h1 a:hover {background-position: -126px 0;}


/*---------
 NAVIGATION
 ---------*/

 /*---------  mainMenu  ---------*/

 #mainMenu, #leftMenu, h2 {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0px;
}

#leftMenu .nav, #leftMenu .social, #leftMenu .bkgselector {
  font-weight: bold;
  letter-spacing: 0px;
}

#mainMenu {
  position: relative;
  width: 958px;
  line-height: 60px;
  font-weight: bold;
}

#mainMenu li {
  white-space: nowrap;
}

#mainMenu li strong {
  font-size: 20px;
}

#mainMenu a {
	letter-spacing: 0px;
  color: #312c32;
  font-size: 108px;
}

/*---------  leftMenu  ---------*/

#leftMenu {
  min-height: 450px;
}

#leftMenu {
  height: 100%;
  width: 130px;
  overflow:hidden;
  float: left;
  white-space: nowrap;
  letter-spacing: 1px;
}

#leftMenu .nav li a {
  font-size: 18px;
  line-height: 21px;
}

#leftMenu a.visited, a.bkgselector:hover {
  color: #FD3F92;
}

a.bkgselector {
  font-size: 14px;
  font-weight: normal;
}

.social {
  margin-top: 40px;
  margin-bottom: 20px;
}

.social li a:hover {
  color: #33CCFF;
}

.social li+li a:hover {
  color: #D70019;
}

.social li+li+li a:hover {
  color: #9FC54E;
}

.social li {
  font-size: 12px;
}


/* -----
 CONTENT
 ----- */

 #corps {
  width: 960px;
  position: relative;
}

#content {
  top: 0;
  position: absolute;
  margin-left: 958px;
  background: url(img/ligneVerticale2.gif) repeat-y left;
  width: 830px;
  padding-left: 40px;
  font-size: 12px;
  line-height: 16px;
}

#content h2 {

  font-size: 108px;
  line-height: 86px;
  padding-bottom: 40px;
  font-weight: bold;
}

/* -------
 Portfolio
 ------- */

 #portfolio h2 {
  margin-left: -6px;
}

#portfolio {
  overflow: hidden;
  padding-bottom: 20px;
}

#portfolio img , #stuff img{
  margin-bottom: -4px;
}

.workPreview {
  overflow: hidden;
  height: 220px;
  width: 260px;
  float: left;
  position: relative;
}

.workPreview>a {
  position: absolute;
  height: 180px;
  width: 260px;
}

.pic01>a {background: url(img/work/workpreview_pixlart2.jpg) no-repeat;}
.pic02>a {background: url(img/work/workpreview_sexysushi2.jpg) no-repeat;}
.pic03>a {background: url(img/work/workpreview_belnet2.jpg) no-repeat;}
.pic04>a {background: url(img/work/workpreview_chicago.jpg) no-repeat;}
.pic05>a {background: url(img/work/workpreview_datavis2.gif) no-repeat;}
.pic06>a {background: url(img/work/workpreview_mini2.png) no-repeat;}
.pic07>a {background: url(img/work/workpreview_sixpack2.jpg) no-repeat;}
.pic08>a {background: url(img/work/workpreview_elsamersayeva.png) no-repeat;}
.pic09>a {background: url(img/work/workpreview_portfoliologos.png) no-repeat;}
.pic10>a {background: url(img/work/workpreview_nastybear.png) no-repeat;}
.pic11>a {background: url(img/work/workpreview_insp-people.png) no-repeat;}
.pic12>a {background: url(img/work/workpreview_from-ghetto.png) no-repeat;}
.pic13>a {background: url(img/work/workpreview_be-street.png) no-repeat;}
.pic14>a {background: url(img/work/workpreview_extranet.png) no-repeat;}
.workPreview>a:hover {background-position: right top;}

.workPreview a+a {
  padding-right: 5px;
}

.description {
  margin-top: 180px;
  height: 30px;
  background: url(img/line.gif) repeat-x bottom;
  padding: 10px 10px 0 10px;
}

.description h3 {
  font-weight: bold;
  font-size: 18px;
  display: inline;
}

.description a+a {
  padding-right: 10px;
}

.description a {
  float: right;
}
.description a:hover { color: #FD3F92; text-decoration: underline;}

.preview a{
  cursor: pointer;
}

#portfolioWrap, #stuffWrap{
  overflow: hidden;
  width: 1560px;
  position: relative;
}

.galleryLeft, .galleryRight{
  width: 780px;
  float: left;
}

.galleryRight>a:hover {color: blue;}

.galleryRight h3 {
  padding-bottom: 20px;
}

.galleryRight p {
  width: 390px;
  padding-bottom: 20px;
  float: left;
}

.galleryRight > a.back-btn{
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	float: right;
	position: relative;
	z-index: 2;
}
.galleryRight > a.back-btn:hover { color: #FD3F92;}

.galleryRight > h3,
.galleryRight > p{
	float: left;
}

.galleryRight > p{
	display: inline;
}

.preview{
	position: relative;
	z-index: 1;
}

a.online-link{
/*
	position: absolute;
	top: 0;
	right: 0;
  */
  float: right;
}
a.online-link:hover { color: #FD3F92; text-decoration: underline;}

/* -------
    Stuff
    ------- */

    #stuff {
      overflow: hidden;
      padding-bottom: 20px;
    }

    .stuffWrap {
      overflow: hidden;
      width: 1560px;
    }

/* -------
    About
    ------- */

    #about {
      background: url(img/loser.png) no-repeat 90% 50%;
    }

    acronym {
      border-bottom:1px dotted;
      cursor: help;
    }

    .aboutWrap {
      width: 460px;
    }

    #about h3{
      padding-bottom: 20px;
    }

    #about p {
      padding-bottom: 20px;
    }

    #about a {
      font-weight: bold;
    }
    #about a:hover { color: #FD3F92; text-decoration: underline;}


/* -------
 Contact
 ------- */

 #contact h2 {
  margin-left: -5px;
}
/*
.contactWrap {
    display: block;
}
*/
#contact ul, h3 {
  font-size: 18px;
  font-weight: bold;
}

#contact .colB ul li {
  padding-bottom: 20px;
}

#contact h3 {
  padding-bottom: 20px;
}

.colA {
  margin-right: 160px;
}

#contact .colA li {
  padding-bottom: 12px;
}

#contact a:hover {
  color: #FD3F92;
}

.column {
  vertical-align: top;
  display:inline-block;
  padding-bottom: 40px;
}

#contactForm {
  font-size: 12px;
}

input, textarea {
  margin-top: 0px;
  margin-left: 30px;
  font-family: Helvetica, Arial, sans-serif;
  color: #828282;
  border: none;
  width: 200px;
  font-size: 12px;
  background: url(img/formLine.gif) bottom repeat-x;
}

#contactForm label {
  float:left;
  clear:left;
  cursor: pointer;
}

#contact textarea {
  min-height: 120px;
}

#contact .colA ol li+li+li+li input {
}

input.button{
  font-weight: bold;
  font-size:18px;
  cursor: pointer;
  margin-left: 99px;
  width: 201px;
  text-align: left;
}
input.button:hover {color: #FD3F92;}

.error {
  color: #FD3F92;
  font-weight: bold;
  margin-top: 20px;
}

#result {
  font-weight: bold;
}


/* --------
 javascript
 -------- */

 .hide{
  display: none;
}

#corps.js {
  overflow: hidden;
}

#leftMenu.js {
  width: 0px;
}

#content.js {
  position: relative;
}

#konamicat {
  margin: 0 auto;
  position: absolute;
  top:40px;
  background-color: white;
}
